RewriteEngine On # Turn on the rewriting engine
RewriteRule ^index$ index.php [NC,L]
RewriteRule ^database$ database.php [NC,L]
RewriteRule ^database-edit$ database_edit.php [NC,L]
RewriteRule ^transaksi$ transaksi.php [NC,L]
RewriteRule ^transaksi-edit$ transaksi_edit.php [NC,L]
RewriteRule ^berita$ berita.php [NC,L]
RewriteRule ^berita-edit$ berita_edit.php [NC,L]
RewriteRule ^kategori-berita$ kategori_berita.php [NC,L]
RewriteRule ^saran$ saran.php [NC,L]
RewriteRule ^produk$ produk.php [NC,L]
RewriteRule ^pengguna$ pengguna.php [NC,L]
RewriteRule ^member$ member.php [NC,L]
RewriteRule ^banner$ banner.php [NC,L]