RewriteEngine On # Turn on the rewriting engine
RewriteRule ^index$ index.php [NC,L]
RewriteRule ^indexpolsek$ indexpolsek.php [NC,L]
RewriteRule ^indexpolres$ indexpolres.php [NC,L]
RewriteRule ^indexsubdit$ indexsubdit.php [NC,L]
RewriteRule ^logout$ logout.php [NC,L]
RewriteRule ^kategori-bencana$ kategori_bencana.php [NC,L]
RewriteRule ^kategori-kamtibmas$ kategori_kamtibmas.php [NC,L]
RewriteRule ^kategori-lokasi$ kategori_lokasi.php [NC,L]
RewriteRule ^kategori-lalin$ kategori_lalin.php [NC,L]
RewriteRule ^konflik$ konflik.php [NC,L]
RewriteRule ^konflik-edit$ konflik_edit.php [NC,L]
RewriteRule ^modus-operandi$ modus_operandi.php [NC,L]
RewriteRule ^jenis-tkp$ jenis_tkp.php [NC,L]
RewriteRule ^kabupaten$ kabupaten.php [NC,L]
RewriteRule ^kecamatan$ kecamatan.php [NC,L]
RewriteRule ^desa$ desa.php [NC,L]
RewriteRule ^polres$ polres.php [NC,L]
RewriteRule ^polsek$ polsek.php [NC,L]
RewriteRule ^kamtibmas$ kamtibmas.php [NC,L]
RewriteRule ^kamtibmas-edit$ kamtibmas_edit.php [NC,L]
RewriteRule ^lokasi$ lokasi.php [NC,L]
RewriteRule ^lalu-lintas$ lalu_lintas.php [NC,L]
RewriteRule ^sumber-dokumen$ sumber_dokumen.php [NC,L]
RewriteRule ^bencana$ bencana.php [NC,L]
RewriteRule ^bencana-edit$ bencana_edit.php [NC,L]
RewriteRule ^kategori-kriminal$ kategori_kriminal.php [NC,L]
RewriteRule ^sub-kategori-kriminal$ sub_kategori_kriminal.php [NC,L]
RewriteRule ^kriminalitas$ kriminalitas.php [NC,L]
RewriteRule ^kriminalitas-edit$ kriminalitas_edit.php [NC,L]
RewriteRule ^kriminalitas-view$ kriminalitas_view.php [NC,L]
RewriteRule ^pengguna$ pengguna.php [NC,L]
RewriteRule ^pengguna-edit$ pengguna_edit.php [NC,L]
RewriteRule ^anggota$ anggota.php [NC,L]
RewriteRule ^anggota-edit$ anggota_edit.php [NC,L]
RewriteRule ^lapbul$ lapbul.php [NC,L]
RewriteRule ^lpb$ lpb.php [NC,L]
RewriteRule ^lpa$ lpa.php [NC,L]
RewriteRule ^jenis-jalan$ jenis_jalan.php [NC,L]