 #kriminalitasMapEdit  { height: 350px; border: 1px solid #ccc; }
      #formTanggalSelesai   { display: none; }
      .list-lampiran        { margin-bottom: 0; }
      .list-lampiran-item   { font-size: 15px; }
      .form-hapus-lampiran  { display: inline; margin: 0; }